.archive {
  header {
    margin:0;
    padding:0;
    & > h1 {
      margin:0;
      padding:0;
    }
    &.title {
      & > h1 {
        font-size:28px;
      }
    }
  }
  .post {
    display: block;
  }
}

.archive-1column {
  .post {
    padding:40px 20px;
    @include transition(all 0.5s ease 0s);
    @include box-shadow(0 1px 0 rgba(#000,0.1));
    header {
      margin:0 0 10px 0;
      padding:0;
      & > h2 {
        font-size:30px;
        margin:0 0 5px 0;
        padding:0;
      }
      & > p {
        margin:0;
        padding:0;
        font-size:12px;
        i{margin-right:5px;}
        span.date {
          margin-right:15px;
        }
        span.author {}
      }
    }
    .excerpt {
      margin:0;
      padding:0;
      font-size:13px;
    }

    &.post-thumbnail {
      @include display-flex();
      @include flex-direction(row);
      @include flex-wrap(nowrap);
      & > .content {
        width:70%;
        @include box-sizing(border-box);
        padding-right:20px;
        header {}
        .exerpt {}
      }
      & > figure.thumbnail {
        width:30%;
        @include box-sizing(border-box);
        margin:0;
        padding:0;
        img {
          @include transition(all 0.5s ease 0s);
          opacity: 1;
        }
    }
      &:last-child {
        @include box-shadow(none);
      }
      &:hover {
        & > figure.thumbnail {
          img {
            opacity: 0.85;
          }
        }
      }
    }
  }
}

.archive-2column {
  @include display-flex();
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  $mqsizing:mqSizing("md");
  & > .item {
    width:50%;
  }
  @media screen and (max-width:$mqsizing) {
    display: block;
  }
}
