.archive {
  header {
    margin:0;
    padding:0;
    & > h1 {
      margin:0;
      padding:0;
    }
    &.title {
      & > h1 {
        font-size:28px;
      }
    }
  }
  .post {
    display: block;
  }
}

.archive-1column {
  .post,&.post-thumbnail {
    &:last-child {
      @include box-shadow(none);
    }
  }
  .post {
    padding:40px 20px;
    @include transition(all 0.5s ease 0s);
    @include box-shadow(0 1px 0 rgba(#000,0.1));
    header {
      margin:0 0 10px 0;
      padding:0;
      & > h2 {
        font-size:30px;
        margin:0 0 5px 0;
        padding:0;
      }
      & > p {
        margin:0;
        padding:0;
        font-size:12px;
        i{margin-right:5px;}
        span.date {
          margin-right:15px;
        }
        span.author {}
      }
    }
    .excerpt {
      margin:0;
      padding:0;
      font-size:13px;
    }

    &.post-thumbnail {
      @include display-flex();
      @include flex-direction(row);
      @include flex-wrap(nowrap);
      & > .content {
        width:70%;
        @include box-sizing(border-box);
        padding-right:20px;
        header {}
        .exerpt {}
      }
      & > figure.thumbnail {
        width:30%;
        @include box-sizing(border-box);
        margin:0;
        padding:0;
        img {
          @include transition(all 0.5s ease 0s);
          opacity: 1;
        }
    }
      &:hover {
        & > figure.thumbnail {
          img {
            opacity: 0.85;
          }
        }
      }
    }
  }
}

.archive-2column {
  @include display-flex();
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  & > .item {
    width:50%;
  }
  $mqsizing:mqSizing("md");
  @media screen and (max-width:$mqsizing) {
    display: block;
  }
}

.archive-photo-4 {
  @include display-flex();
  @include flex-direction(row);
  @include flex-wrap(wrap);
  & > .post {
    display: block;
    width: 25%;
    height:25vh;
    position: relative;
    h2 {
      text-align: center;
      opacity: 0;
      color:#FFF!important;
      font-size:18px;
      @include transition(all 0.5s ease 0s);
      position: absolute;
      top:50%;
      left:0;
      width:100%;
      z-index:3;
      padding: 0;
    }
    .thumbnail {
      width:100%;
      height:25vh;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      position: absolute;
      top:0;
      left:0;
      z-index:0;
      @include transition(all 0.5s ease 0s);
    }
    &:hover {
      h2 {
        opacity: 1;
        display: block;
      }
      .thumbnail {
        @include filter(grayscale(100%));
      }
    }
  }
  $mqsizing:mqSizing("md");
  @media screen and (max-width:$mqsizing) {
    & > .post {
      width: 50%;
      height:25vh;
    }
  }
}

.archive-list,.archive-list-date {
  & > .post {
    margin:0 0 5px 0;
    a {
      display: block;
      .title {
        font-size:15px;
        padding:0;
        margin:0;
      }
      .post-data {
        font-size:10px;
        margin-top:2px;
        i {margin-right:5px;}
      }
    }
  }
}

.pagination,.pavger {
  & > span,& > a {
    display: inline-block;
    @extend .btn;
  }
  & > span {
    cursor: default;
  }
  & > a {
    &.next {}
  }
}
