.billboard {
  width:100%;
  height:auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &.billboard-vertical-center,&.billboard-vertical-bottom,&.billboard-vertical-top,&.billboard-horizontal-left,&.billboard-horizontal-center,&.billboard-horizontal-right {
    @include display-flex();
    @include flex-direction(column);
  }
  &.billboard-vertical-center {@include align-items(center);}
  &.billboard-vertical-bottom {@include align-items(flex-end);}
  &.billboard-vertical-top {@include align-items(flex-start);}
  &.billboard-horizontal-left {text-align: left;}
  &.billboard-horizontal-center {text-align: center;}
  &.billboard-horizontal-right {text-align: right;}
  & > .billboard-content {
    @include box-sizing(border-box);
  }
}

// Size
.billboard-full {
  height:100vh;
  overflow:hidden;
}
.billboard-half {
  height:50vh;
  overflow:hidden;
}
.billboard-large{
  padding-top:100px;
  padding-bottom:100px;
}
.billboard-middle{
  padding-top:60px;
  padding-bottom:60px;
}
.billboard-small{
  padding-top:20px;
  padding-bottom:20px;
}
