.btn {
  @include border-radius(3px);
  color:#000;
  background-color:#FFF;
  padding:12px 16px;
  font-size:16px;
  margin:0;
  font-weight:bold;
  display: inline-block;
  &:hover {}
  &.btn__block {
    display: block;
  }
  .btn-large {
    font-size:25px;
    padding:10px 20px;
  }
}
