.card {
  display: block;
  @include border-radius(3px);

  & > .footer,& > .inner,& > .header{
    padding:10px;
  }
  & > .header {
    font-weight: bold;
    font-size:18px;
    h1,h2,h3,h4,h5,h6 {
      font-size:18px;
      margin:0;
      padding:0;
    }
  }
  & > .inner {
    font-size:14px;
  }

  &.card-shadow {
    @include box-shadow(0 2px 2px 0 rgba(#000,0.1));
  }

  &.card-hover-shadow {
    @include transition(all 0.5s ease 0s);
    &:hover {
      @include box-shadow(0 2px 4px 0 rgba(#000,0.1));
    }
  }
}
