// Common
body {
  color:map-get($color_common,font);
  background-color:map-get($color_common,bg);
}

a {
  color:map-get($color_link,font);
  &:hover {
    color:map-get($color_link,font_hover);
  }
  &:active {
    color:map-get($color_link,font_active);
  }
}

hr,.separate {
  background-color:map-get($color_common,border);
}



// Table
table.table-clearly {
  tr {
  }
}



// Form
input[type="text"],input[type="number"],input[type="email"],input[type="password"]{
  border:solid 1px map-get($color_common,border);
  color:map-get($color_common,font);
  &:active,&:focus {
    @include box-shadow(0 0 0 3px rgba(#000,0.1) inset);
  }
}
select {
  color:map-get($color_common,font);
  border:solid 1px map-get($color_common,border);
  option {
    color:map-get($color_common,font);
  }
}
textarea {
  color:map-get($color_common,font);
  border:solid 1px map-get($color_common,border);
}
div.inp {
  &.vali-check-danger {
    input[type="text"],input[type="number"],input[type="email"],input[type="password"] {
      @include box-shadow(0 0 0 3px rgba(map-get($color_danger,bg),0.1) inset);
    }
    select {
      @include box-shadow(0 0 0 3px rgba(map-get($color_danger,bg),0.1) inset);
    }
  }
  &.vali-check-success {
    input[type="text"],input[type="number"],input[type="email"],input[type="password"] {
      @include box-shadow(0 0 0 3px rgba(map-get($color_success,bg),0.1));
    }
    select {
      @include box-shadow(0 0 0 3px rgba(map-get($color_success,bg),0.1));
    }
  }
}


// Billboard
.billboard {
  &,&.billboard-primary {
    color:map-get($color_primary,font);
    background-color:map-get($color_primary,bg);
  }
  &.billboard-success {
    color:map-get($color_success,font);
    background-color:map-get($color_success,bg);
  }
  &.billboard-info {
    color:map-get($color_info,font);
    background-color:map-get($color_info,bg);
  }
  &.billboard-warning {
    color:map-get($color_warning,font);
    background-color:map-get($color_warning,bg);
  }
  &.billboard-danger {
    color:map-get($color_danger,font);
    background-color:map-get($color_danger,bg);
  }
}



// Button
.btn {
  &,&.btn-default {
    color:map-get($color_default,font);
    background-color:map-get($color_default,bg);
    &:hover {
      background-color:map-get($color_default,bg_hover);
    }
    &:active,&:focus {
      background-color:map-get($color_default,bg_active);
    }
    &:disabled,&.disabled {
      color:rgba(map-get($color_default,font),0.5);
      background-color:desaturate(map-get($color_default,bg),35%);
    }
  }
  &.btn-primary {
    color:map-get($color_primary,font);
    background-color:map-get($color_primary,bg);
    &:hover {
      background-color:map-get($color_primary,bg_hover);
    }
    &:active,&:focus {
      background-color:map-get($color_primary,bg_active);
    }
    &:disabled,&.disabled {
      color:rgba(map-get($color_primary,font),0.5);
      background-color:desaturate(map-get($color_primary,bg),35%);
    }
  }
  &.btn-success {
    color:map-get($color_success,font);
    background-color:map-get($color_success,bg);
    &:hover {
      background-color:map-get($color_success,bg_hover);
    }
    &:active,&:focus {
      background-color:map-get($color_success,bg_active);
    }
    &:disabled,&.disabled {
      color:rgba(map-get($color_success,font),0.5);
      background-color:desaturate(map-get($color_success,bg),35%);
    }
  }
  &.btn-info {
    color:map-get($color_info,font);
    background-color:map-get($color_info,bg);
    &:hover {
      background-color:map-get($color_info,bg_hover);
    }
    &:active,&:focus {
      background-color:map-get($color_info,bg_active);
    }
    &:disabled,&.disabled {
      color:rgba(map-get($color_info,font),0.5);
      background-color:desaturate(map-get($color_info,bg),35%);
    }
  }
  &.btn-warning {
    color:map-get($color_warning,font);
    background-color:map-get($color_warning,bg);
    &:hover {
      background-color:map-get($color_warning,bg_hover);
    }
    &:active,&:focus {
      background-color:map-get($color_warning,bg_active);
    }
    &:disabled,&.disabled {
      color:rgba(map-get($color_warning,font),0.5);
      background-color:desaturate(map-get($color_warning,bg),35%);
    }
  }
  &.btn-danger {
    color:map-get($color_danger,font);
    background-color:map-get($color_danger,bg);
    &:hover {
      background-color:map-get($color_danger,bg_hover);
    }
    &:active,&:focus {
      background-color:map-get($color_danger,bg_active);
    }
    &:disabled,&.disabled {
      color:rgba(map-get($color_danger,font),0.5);
      background-color:desaturate(map-get($color_danger,bg),35%);
    }
  }
}


// Card
.card {
  background-color:map-get($color_common,bg);
  border:solid map-get($color_common,border) 1px;

  & > .header {
    border-bottom:1px solid map-get($color_common,border);
  }
  & > .inner {
    &.inner-border {
      border-top:1px solid map-get($color_common,border);
    }
  }
  & > .footer {
    border-top:1px solid map-get($color_common,border);
  }

  &.card-strong {
    border:solid map-get($color_common,border) 3px;
  }

  // Color
  &.card-default {
    color:darken(map-get($color_default,bg),6.5%);
    background-color:lighten(map-get($color_default,bg),30%);
    border:solid darken(map-get($color_default,bg),6.5%) 1px;
    & > .header {border-bottom:1px solid darken(map-get($color_default,bg),6.5%);}
    & > .inner {&.inner-border {border-top:1px solid darken(map-get($color_default,bg),6.5%);}}
    & > .footer {border-top:1px solid darken(map-get($color_default,bg),6.5%);}
    &.card-strong {
      border:solid darken(map-get($color_default,bg),10%) 3px;
    }
  }
  &.card-primary {
    color:darken(map-get($color_primary,bg),6.5%);
    background-color:lighten(map-get($color_primary,bg),30%);
    border:solid darken(map-get($color_primary,bg),6.5%) 1px;
    & > .header {border-bottom:1px solid darken(map-get($color_primary,bg),6.5%);}
    & > .inner {&.inner-border {border-top:1px solid darken(map-get($color_primary,bg),6.5%);}}
    & > .footer {border-top:1px solid darken(map-get($color_primary,bg),6.5%);}
    &.card-strong {
      border:solid darken(map-get($color_primary,bg),10%) 3px;
    }
  }
  &.card-success {
    color:darken(map-get($color_success,bg),6.5%);
    background-color:lighten(map-get($color_success,bg),30%);
    border:solid darken(map-get($color_success,bg),6.5%) 1px;
    & > .header {border-bottom:1px solid darken(map-get($color_success,bg),6.5%);}
    & > .inner {&.inner-border {border-top:1px solid darken(map-get($color_success,bg),6.5%);}}
    & > .footer {border-top:1px solid darken(map-get($color_success,bg),6.5%);}
    &.card-strong {
      border:solid darken(map-get($color_success,bg),10%) 3px;
    }
  }
  &.card-info {
    color:darken(map-get($color_info,bg),6.5%);
    background-color:lighten(map-get($color_info,bg),30%);
    border:solid darken(map-get($color_info,bg),6.5%) 1px;
    & > .header {border-bottom:1px solid darken(map-get($color_info,bg),6.5%);}
    & > .inner {&.inner-border {border-top:1px solid darken(map-get($color_info,bg),6.5%);}}
    & > .footer {border-top:1px solid darken(map-get($color_info,bg),6.5%);}
    &.card-strong {
      border:solid darken(map-get($color_info,bg),10%) 3px;
    }
  }
  &.card-warning {
    color:darken(map-get($color_warning,bg),6.5%);
    background-color:lighten(map-get($color_warning,bg),30%);
    border:solid darken(map-get($color_warning,bg),6.5%) 1px;
    & > .header {border-bottom:1px solid darken(map-get($color_warning,bg),6.5%);}
    & > .inner {&.inner-border {border-top:1px solid darken(map-get($color_warning,bg),6.5%);}}
    & > .footer {border-top:1px solid darken(map-get($color_warning,bg),6.5%);}
    &.card-strong {
      border:solid darken(map-get($color_warning,bg),10%) 3px;
    }
  }
  &.card-danger {
    color:darken(map-get($color_danger,bg),6.5%);
    background-color:lighten(map-get($color_danger,bg),30%);
    border:solid darken(map-get($color_danger,bg),6.5%) 1px;
    & > .header {border-bottom:1px solid darken(map-get($color_danger,bg),6.5%);}
    & > .inner {&.inner-border {border-top:1px solid darken(map-get($color_danger,bg),6.5%);}}
    & > .footer {border-top:1px solid darken(map-get($color_danger,bg),6.5%);}
    &.card-strong {
      border:solid darken(map-get($color_danger,bg),10%) 3px;
    }
  }

}


// Contents
.contents{
  header {
    .lead {color:lighten(map-get($color_common,font),10%);}
    .dates {
      color:lighten(map-get($color_common,font),15%);
      span {
        &:after {
          color:lighten(map-get($color_common,font),25%);
        }
      }
    }
  }
  section {
    color:lighten(map-get($color_common,font),10%);
  }
}


// Billboard
.billboard {
  color:map-get($color_primary,font);
  background-color:map-get($color_primary,bg);
}


// Dropdown menu
.dropdown-menu {
  ul {
    background-color:map-get($color_common,bg);
    border:solid 1px map-get($color_common,border);
  }
}



// List
.list {
  & > li,dd {
    &.separate {
      background-color:map-get($color_common,border);
    }
  }
  &.list-menu {
    dt,dd,li {
      & > a {
        &:hover,&:active,&.active {
          background-color:darken(map-get($color_common,bg),8%);
        }
      }
    }
  }
}


// Navbar
.navbar {
  color:map-get($color_navbar,font);
  background-color:map-get($color_navbar,bg);
  h1 {
    color:map-get($color_navbar,font);
    & > a {
      color:map-get($color_navbar,font);
      &:hover {
        color:map-get($color_navbar,font_link);
      }
    }
  }
  nav {
    & > ul {
      & > li {
        & > a {
          color:map-get($color_navbar,font);
          &:hover {
            color:map-get($color_navbar,font_hover);
          }
        }
        & > ul {
          & > li {
            color:map-get($color_navbar,font);
            & > a {
              color:map-get($color_navbar,font);
              &:hover {
                color:map-get($color_navbar,font_hover);
              }
            }
          }
        }
      }
    }
  }
  $mqsizing:mqSizing("md");
  @media screen and (max-width:$mqsizing) {
    .container,.container-fluid {
      button.toggle {
        background-color:map-get($color_navbar,bg);
        border-top:1px solid map-get($color_navbar,border);
        &:hover {
          color:map-get($color_navbar,font_hover);
        }
      }
      nav {
        & > ul {
          border-top:1px solid map-get($color_navbar,border);
          a {
            border-top:1px solid map-get($color_navbar,border);
          }
        }
      }
    }
  }
}
