@import "color/color_common";
@import "color/color_form";
@import "color/color_billboard";
@import "color/color_btn";


// Card
.card {
  background-color:map-get($color_common,bg);
  border:solid map-get($color_common,border) 1px;

  & > .header {
    border-bottom:1px solid map-get($color_common,border);
  }
  & > .inner {
    &.inner-border {
      border-top:1px solid map-get($color_common,border);
    }
  }
  & > .footer {
    border-top:1px solid map-get($color_common,border);
  }

  &.card-strong {
    border:solid map-get($color_common,border) 3px;
  }

  // Color
  &.card-default {
    color:darken(map-get($color_default,bg),6.5%);
    background-color:lighten(map-get($color_default,bg),30%);
    border:solid darken(map-get($color_default,bg),6.5%) 1px;
    & > .header {border-bottom:1px solid darken(map-get($color_default,bg),6.5%);}
    & > .inner {&.inner-border {border-top:1px solid darken(map-get($color_default,bg),6.5%);}}
    & > .footer {border-top:1px solid darken(map-get($color_default,bg),6.5%);}
    &.card-strong {
      border:solid darken(map-get($color_default,bg),10%) 3px;
    }
  }
  &.card-primary {
    color:darken(map-get($color_primary,bg),6.5%);
    background-color:lighten(map-get($color_primary,bg),30%);
    border:solid darken(map-get($color_primary,bg),6.5%) 1px;
    & > .header {border-bottom:1px solid darken(map-get($color_primary,bg),6.5%);}
    & > .inner {&.inner-border {border-top:1px solid darken(map-get($color_primary,bg),6.5%);}}
    & > .footer {border-top:1px solid darken(map-get($color_primary,bg),6.5%);}
    &.card-strong {
      border:solid darken(map-get($color_primary,bg),10%) 3px;
    }
  }
  &.card-success {
    color:darken(map-get($color_success,bg),6.5%);
    background-color:lighten(map-get($color_success,bg),30%);
    border:solid darken(map-get($color_success,bg),6.5%) 1px;
    & > .header {border-bottom:1px solid darken(map-get($color_success,bg),6.5%);}
    & > .inner {&.inner-border {border-top:1px solid darken(map-get($color_success,bg),6.5%);}}
    & > .footer {border-top:1px solid darken(map-get($color_success,bg),6.5%);}
    &.card-strong {
      border:solid darken(map-get($color_success,bg),10%) 3px;
    }
  }
  &.card-info {
    color:darken(map-get($color_info,bg),6.5%);
    background-color:lighten(map-get($color_info,bg),30%);
    border:solid darken(map-get($color_info,bg),6.5%) 1px;
    & > .header {border-bottom:1px solid darken(map-get($color_info,bg),6.5%);}
    & > .inner {&.inner-border {border-top:1px solid darken(map-get($color_info,bg),6.5%);}}
    & > .footer {border-top:1px solid darken(map-get($color_info,bg),6.5%);}
    &.card-strong {
      border:solid darken(map-get($color_info,bg),10%) 3px;
    }
  }
  &.card-warning {
    color:darken(map-get($color_warning,bg),6.5%);
    background-color:lighten(map-get($color_warning,bg),30%);
    border:solid darken(map-get($color_warning,bg),6.5%) 1px;
    & > .header {border-bottom:1px solid darken(map-get($color_warning,bg),6.5%);}
    & > .inner {&.inner-border {border-top:1px solid darken(map-get($color_warning,bg),6.5%);}}
    & > .footer {border-top:1px solid darken(map-get($color_warning,bg),6.5%);}
    &.card-strong {
      border:solid darken(map-get($color_warning,bg),10%) 3px;
    }
  }
  &.card-danger {
    color:darken(map-get($color_danger,bg),6.5%);
    background-color:lighten(map-get($color_danger,bg),30%);
    border:solid darken(map-get($color_danger,bg),6.5%) 1px;
    & > .header {border-bottom:1px solid darken(map-get($color_danger,bg),6.5%);}
    & > .inner {&.inner-border {border-top:1px solid darken(map-get($color_danger,bg),6.5%);}}
    & > .footer {border-top:1px solid darken(map-get($color_danger,bg),6.5%);}
    &.card-strong {
      border:solid darken(map-get($color_danger,bg),10%) 3px;
    }
  }

}


// Contents
.contents{
  header {
    .lead {color:lighten(map-get($color_common,font),10%);}
    .dates {
      color:lighten(map-get($color_common,font),15%);
      span {
        &:after {
          color:lighten(map-get($color_common,font),25%);
        }
      }
    }
  }
  section {
    color:lighten(map-get($color_common,font),10%);
  }
}


// Billboard
.billboard {
  color:map-get($color_primary,font);
  background-color:map-get($color_primary,bg);
}


// Dropdown menu
.dropdown-menu {
  ul {
    background-color:map-get($color_common,bg);
    border:solid 1px map-get($color_common,border);
  }
}

// List
.list {
  & > li,dd {
    &.separate {
      background-color:map-get($color_common,border);
    }
  }
  &.list-menu {
    dt,dd,li {
      & > a {
        &:hover,&:active,&.active {
          background-color:darken(map-get($color_common,bg),8%);
        }
      }
    }
  }
}


// Footer
.footer {
}

@import "color/color_navbar";
