@charset "utf-8";
.contents{
  header {
    margin-bottom:60px;
    @include display-flex();
    @include flex-direction(column);
    h1 {
      font-size:46px;
      @include order(1);
    }
    .breadcrumb {
      @include order(0);
      margin-bottom:20px;
      .breadcrumb-list {
        margin-bottom:5px;
        .fa-home {
          margin-right:5px;
        }
        .fa-angle-right {margin-left:5px;margin-right:5px;}
        &:last-child {
          margin-bottom:0;
        }
      }
    }
    .lead,.dates {
      margin-top:10px;
    }
    .lead {
      font-size:18px;
      line-height: 150%;
    }
    .dates {
      font-size:14px;
      span {
        margin-right:10px;
        &:after {
          content:"/";
          font-size:12px;
          margin-left:10px;
        }
        &:last-child {
          margin-right:0;
          &:after {
            content:"";
          }
        }
      }
      .date {}
      .author {}
    }
  }
  section {
    margin-bottom:50px;
    h2,h3,h4,h5,h6,p {
      margin-bottom:15px;
    }
    p {
      font-size:15px;
      line-height: 180%;
    }
    b {
      font-weight: bold;
    }
    i {}
    em {
      font-weight: bold;
    }
    strong {
      font-weight: bold;
      font-size:17px;
      font-style: italic;
    }
    small {
      font-size:12px;
    }
    blockquote {
      background-color:#eeeeee;
      margin:0;
      padding:30px;
      margin-bottom:20px;
      & > p {
        margin:0;
        left:0;
        text-align: center;
        font-size:18px;
        @include box-sizing(border-box);
      }
    }
  }
}
