.dropdown-menu {
  position:relative;
  cursor: pointer;
  & > ul {
    display: none;
    padding:10px;
    margin:0;
    height:auto;
    position: absolute;
    top:0;
    left:0%;
    @include border-radius(3px);
    z-index:350;
    & > li {
      line-height:100%;
      min-width:150px;
      width:auto;
      &.separate {
        background-color:map-get($color_common,border);
        height:1px;
        width:100%;
        display: block;
        margin-top:10px;
        margin-bottom:10px;
      }
      &.title {
        font-size:10px;
        font-weight: bold;
        margin-bottom:5px;
      }
      a {
        display: block;
        padding:5px;
      }
    }
  }
}
