form,.forms {
  .forms-message {}
  .message-error {
    display: none;
    margin-bottom:30px;
  }
  display: block;
  width:100%;
  fieldset {
    width:100%;
    margin-bottom:25px;
    &:last-child {
      margin-bottom:0px;
    }
    &.req {
      & > legend {
        &:after {
          content:"*";
          color:#f50000;
          margin-left:3px;
        }
      }
    }
    & > legend {
      font-size:12px;
      font-weight: bold;
      display: block;
      margin-bottom:5px;
    }
    & > div.inp {
      input[type="text"],input[type="number"],input[type="email"],input[type="password"] {
        max-width:100%;
        min-width:250px;
        font-size:16px;
        background-color:#FFF;
        @include box-sizing(border-box);
      }
      select {
        max-width:100%;
        min-width:250px;
        @include appearance(none);
        @include border-radius(3px);
        @include box-sizing(border-box);
        background-color:#FFF;
        padding:10px;
        vertical-align: middle;
        font-size: 14px;
      }
      textarea {
        font-size:15px;
        width:100%;
        padding:10px;
        min-height:100px;
        @include box-sizing(border-box);
      }
      & > label {
        margin-right:20px;
        display: inline-block;
        font-size:14px;
        & > input[type="radio"] {

        }
      }
      &.inp-block {
        input[type="text"],input[type="number"],input[type="password"] {
          width:100%;
        }
      }
    }
    & > div.description {
      margin-top:5px;
      font-size:11px;
    }
  }
  input[type="text"],input[type="number"],input[type="email"],input[type="password"]{
    padding:10px;
    @include border-radius(3px);
  }
}
