@charset "utf-8";

body {
  font-family:"游ゴシック", "YuGothic-Medium","YuGo-Medium",'-apple-system','Helvetica Neue','Hiragino Kaku Gothic ProN','メイリオ',"meiryo",sans-serif;
  padding:0;
  margin:0;
  word-wrap:break-word;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 100%;
}
h1,h2,h3,h4,h5,h6,ul,ol,dl,p {
  margin:0;
  padding:0;
}
ul,ol,dl,li,dt,dd {
  list-style: none;
}

hr {
  display: block;
  height:1px;
  border:none;
}

a,button {
  text-decoration: none;
  border:none;
  @include transition(all 0.5s ease 0s);
}

img {
  max-width:100%;
  height:auto;
}

header,main,aside,section,article,p {
  padding:0;
  margin:0;
}

input,select {
  &:active,&:focus {outline:none;}
}

button,.btn {
  cursor: pointer;
  &:active {outline:none;}
  &:focus {outline:none;}
}

fieldset {
  padding:0;
  margin:0;
  border:none;
}

pre {
  padding:20px;
  margin:0;
  display: block;
  font-size:12px;
  width:100%;
  max-height:800px;
  @include box-shadow(0 0 0 1px rgba(#000,0.1)inset);
  @include box-sizing(border-box);
  overflow-y:scroll;
  background-color:#f4f4f4;
  color:#474747;
  & > code {
    display: block;
    line-height: 200%;
    letter-spacing: 0.07em;
  }
}

span.code {
  display: inline;
  padding:5px 10px;
  font-size:13px;
  background-color:#f4f4f4;
  color:#474747;
  margin:0 5px;
  @include border-radius(3px);
  @include box-shadow(0 0 0 1px rgba(#000,0.1)inset);
}
