.sidebar {
  & > ul {
    & > li {
      margin-bottom:40px;
      &:last-child {margin-bottom:0;}
    }
  }
  $mqsizing:mqSizing("md");
  @media screen and (max-width:$mqsizing) {
    margin-top:20px;
    padding-top:20px;
  }
}
