.table {
  width:100%;
  thead {}
  tbody {}
  &.table-width-min {
    min-width:100px;
    width:auto;
  }
  &.table-clearly {
    tr {
      @include box-sizing(border-box);
      padding-bottom:10px;
      &:last-child {
        padding-bottom:0;
      }
      th,td {
        @include box-sizing(border-box);
        vertical-align:baseline;
        text-align: left;
        &:first-child {
          padding-left:0px;
        }
      }
      th {
        font-weight: bold;
        font-size:17px;
      }
      td {
        padding-left:10px;
        font-size:14px;
      }
    }
  }
}
