h1 {
  font-size:45px;
}
h2 {
  font-size:35px;
}
h3 {
  font-size:25px;
}
h4 {
  font-size:20px;
}
h5 {
  font-size:15px;
}
h6 {
  font-size:13px;
}

.tac {text-align: center;}

.title {
  font-size:35px;
  font-weight: bold;
}
.lead {
  font-size:17px;
}

.texts {
  h1,h2,h3,h4 {
    font-size:30px;
    margin-bottom:15px;
  }
  p {
    margin-bottom:15px;
    &:last-child {
      margin-bottom:0;
    }
  }
}

.textshadow{
  @include text-shadow(0 1px 1px rgba(#000,0.1));
}
.textshadow-metalic {
  @include text-shadow(0 1px 0 rgba(#FFF,1),0 2px 0 rgba(#000,1),0 3px 3px rgba(#000,0.5), -1px 0 rgba(#000,0.3));
}


.titleset {
  &.titleset-center {& > .title,& > .lead {text-align: center;}}
  &.titleset-left {& > .title,& > .lead {text-align: left;}}
  &.titleset-right {& > .title,& > .lead {text-align: right;}}
}
.titleset-shortline {
  @include display-flex();
  @include flex-direction(column);
  & > .title {
    font-size:32px;
    text-align: center;
    margin:0;
    padding:0;
    &:after {
      display: block;
      margin:24px auto 24px auto;
      content:"";
      width:80px;
      height:1px;
      background-color:rgba(#000,0.35);
    }
  }
  & > .lead {
    font-size:12px;
    text-align: center;
  }
  &.titleset-center {
    & > .title {&:after {margin:24px auto 24px auto;}}
  }
  &.titleset-left {
    & > .title {&:after {margin:24px 0 24px 0;}}
  }
  &.titleset-right {
    & > .title {&:after {margin:24px 0 24px 0;}}
  }
}
