.footer {
}

.sidebar {
  $mqsizing:mqSizing("md");
  @media screen and (max-width:$mqsizing) {
    border-top:solid 1px map-get($color_common,border);
  }
}

.pagination,.pager {
  margin-top:40px;
  border-top:solid 2px map-get($color_common,border);
  padding-top:40px;
  & > span,& > a {
    display: inline-block;
  }
  & > span {
    color:rgba(map-get($color_default,font),0.5);
    background-color:desaturate(map-get($color_default,bg),35%);
  }
  & > a {
    &.next {}
  }
}


// Contents
.contents{
  header {
    .lead {color:lighten(map-get($color_common,font),10%);}
    .dates {
      color:lighten(map-get($color_common,font),15%);
      span {
        &:after {
          color:lighten(map-get($color_common,font),25%);
        }
      }
    }
  }
  section {
    color:lighten(map-get($color_common,font),10%);
  }
}


// Dropdown menu
.dropdown-menu {
  ul {
    background-color:map-get($color_common,bg);
    border:solid 1px map-get($color_common,border);
  }
}

// List
.list {
  & > li,dd {
    &.separate {
      background-color:map-get($color_common,border);
    }
  }
  &.list-menu {
    dt,dd,li {
      & > a {
        &:hover,&:active,&.active {
          background-color:darken(map-get($color_common,bg),8%);
        }
      }
    }
  }
}


// Navigation
.nav-topnextprev {
  border:solid 1px map-get($color_common,border);
  background-color:darken(map-get($color_common,bg),3%);
  & > div {
    &.top {
      border-left:solid 1px map-get($color_common,border);
      border-right:solid 1px map-get($color_common,border);
    }
    & > span.no {
      color:darken(map-get($color_common,bg),6%);
    }
  }
}
