// Card
.card {
  background-color:map-get($color_common,bg);
  border:solid map-get($color_common,border) 1px;

  & > .header {
    border-bottom:1px solid map-get($color_common,border);
  }
  & > .inner {
    &.inner-border {
      border-top:1px solid map-get($color_common,border);
    }
  }
  & > .footer {
    border-top:1px solid map-get($color_common,border);
  }

  &.card-strong {
    border:solid map-get($color_common,border) 3px;
  }

  @each $name, $color in $colors {
    @if($name == "default"){
      &,&.card-#{$name} {
        color:darken(map-get($color,bg),6.5%);
        background-color:lighten(map-get($color,bg),30%);
        border:solid darken(map-get($color,bg),6.5%) 1px;
        & > .header {border-bottom:1px solid darken(map-get($color,bg),6.5%);}
        & > .inner {&.inner-border {border-top:1px solid darken(map-get($color,bg),6.5%);}}
        & > .footer {border-top:1px solid darken(map-get($color,bg),6.5%);}
        &.card-strong {
          border:solid darken(map-get($color,bg),10%) 3px;
        }
      }
    }
    @else{
      &.card-#{$name} {
        color:darken(map-get($color,bg),6.5%);
        background-color:lighten(map-get($color,bg),30%);
        border:solid darken(map-get($color,bg),6.5%) 1px;
        & > .header {border-bottom:1px solid darken(map-get($color,bg),6.5%);}
        & > .inner {&.inner-border {border-top:1px solid darken(map-get($color,bg),6.5%);}}
        & > .footer {border-top:1px solid darken(map-get($color,bg),6.5%);}
        &.card-strong {
          border:solid darken(map-get($color,bg),10%) 3px;
        }
      }
    }
  }

}
