.billboard,.splitboard {
  @each $name, $color in $colors {
    @if($name == "default"){
      &,&.billboard-#{$name},&.splitboard-#{$name} {
        color:map-get($color,font);
        background-color:map-get($color,bg);
      }
    }
    @else{
      &.billboard-#{$name},&.splitboard-#{$name} {
        color:map-get($color,font);
        background-color:map-get($color,bg);
      }
    }
  }
  &.billboard-animation-fade {
    color:#FFF;
    background-color: #000;
  }
}
